{{define "content"}}
<div id="manage-unit" class="section">
  <div class="row">
    <div class="container">
      <div>
        <h5>{{.manageUnit}}</h5>
      </div>
      <div>
        <table id="manageUnit" class="table-responsive">
          <thead>
            <tr>
                <th>Unit Number</th>
                <th>Unit Type</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            {{range $unit := .units}}
              <tr>
                <td>{{$unit.UnitNumber}}</td>
                <td>{{$unit.UnitType}}</td>
                <td>{{$unit.UnitStatus | convertStatusToString}}</td>
                <td>PHP {{$unit.UnitPrice}}</td>
                <td><a href="/admin/unit/edit/{{$unit.ID}}">Edit</a></td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('#manageUnit').DataTable();
  });
</script>
{{end}}