{{define "partials/maintenance_nav"}}
<nav>
  <div class="nav-wrapper" style="background-color: white;">
    
    <ul id="nav-mobile" class="hide-on-med-and-down">
      {{if .is_login}}
        <li><a href="/home" class="brand-logo no-abs black-text">RV Home Rental</a></li>
        
      {{else}}
        <li><a href="/home" class="brand-logo no-abs black-text">RV Home Rental</a></li>
        <!-- <li class="ml-20"><a href="/about-us">About Us</a></li>
        <li class="ml-20"><a href="/contact">Contact Us</a></li>
        <li class="ml-20"><a href="/signin">Sign in</a></li> -->
      {{end}}
    </ul>
    
    <ul class="right hide-on-med-and-down" style="color: black;">
      {{if .is_login}}
        <li><a href="/maintenance/request" class="black-text">Requests</a></li>
        <li><a href="#!" class="black-text">Reports</a></li>
        <li><a href="#!" class="black-text">Notifications</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Hi, {{.email}}<i class="material-icons right">arrow_drop_down</i></a></li>
      {{else}}
        <li><a href="/maintenance/about-us" class="black-text">About Us</a></li>
        <li><a href="/maintenance/contact" class="black-text">Contact Us</a></li>
        <li><a href="/maintenance/login" class="black-text">Login</a></li>
      {{end}}
    </ul>
  </div>
</nav>
<ul id="dropdown1" class="dropdown-content" style="color: black;">
  <li><a href="/maintenance/profile" class="black-text">Profile</a></li>
  <!-- <li><a href="/rent">My Rent</a></li>
  <li><a href="/payments">My Payments</a></li>
  <li><a href="/agreement">My Rental Agreement</a></li> -->
  <li class="divider"></li>
  <li><a href="/logout" class="black-text">Logout</a></li>
</ul>
<ul id="unitSelection" class="dropdown-content" style="color: black;">
  <li><a href="/admin/manage" class="black-text">Manage Units</a></li>
  <li><a href="/admin/unit" class="black-text">Add a Unit</a></li>
</ul>

<ul id="tenantSelection" class="dropdown-content" style="color: black;">
  <li><a href="/admin/all/tenants">View All Tenants</a></li>
  <li><a href="/admin/view/request">Add a Tenant</a></li>
</ul>


{{end}}