{{define "content"}}
<div id="index">
  <div class="section">
    <div class="row">
      <div class="container">
        <h3>Welcome to RV Home Rental</h3>
        <article>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis leo lorem, eu lobortis massa volutpat ac. Donec faucibus lectus vitae accumsan facilisis. Nulla maximus imperdiet ex, non imperdiet nunc efficitur et. Mauris elit augue, scelerisque vitae nisi euismod, dignissim dignissim massa. Curabitur tincidunt imperdiet consequat. Aliquam id nunc at sem vestibulum auctor nec ac nisi. Morbi rutrum lorem lobortis tortor volutpat tincidunt pellentesque quis nunc. Duis posuere erat erat, in tristique risus convallis ultrices.

          Morbi et nunc posuere, eleifend tellus ac, porta nulla. Ut vitae scelerisque neque, sed finibus erat. Cras placerat cursus nunc sit amet varius. Curabitur nisl ipsum, ultricies et nibh vitae, venenatis maximus dui. Nulla aliquam vestibulum metus, id egestas est faucibus sit amet. Maecenas vehicula mollis quam, quis ultricies enim ullamcorper vitae. Duis dolor libero, dignissim at orci in, aliquam auctor odio. Nulla placerat enim lectus, vel faucibus dolor venenatis non. Nulla mauris risus, pulvinar vel sollicitudin eu, dictum ornare sapien. Suspendisse tellus nulla, scelerisque sit amet mauris vel, vehicula sagittis nisi. Aliquam tristique at elit sed ornare. In laoreet mollis ligula vitae hendrerit. Nullam vitae ultrices lacus. Aenean vitae eros eu ex venenatis consectetur.

        </article>
      </div>
    </div>
  </div>
</div>
{{end}}