{{define "content"}}
<div id="maintenance-view" class="section">
  <div class="row">
    <div class="container">
      <div style="color: white; padding: 8px; border: 1px solid white; text-align: center;">
        <h5>Got the skills?</h5>
        <div>
          <h5>Join our Property Maintenance Team today.</h5>
        </div>
      </div>
      <div style="text-align: center; padding: 12px;">
        <button type="submit" class="btn btn-success light-blue darken-3 waves-effect waves-light">Sign up Now</button>
      </div>
    </div>
  </div>
</div>
{{end}}