{{define "maintenance_content"}}
<div id="maintenance-view" class="section">
  <div class="row">
    <div class="container">
      <div class="highlight-text" style="margin-top: 100px; color: black; padding: 8px; border: 1px; text-align: center; font-weight: bold;">
        <h5>Got the skills?</h5>
        <div>
          <h5>Join our Property Maintenance Team today.</h5>
        </div>
      </div>
      <div class="col s12 row">
        <a class="col s12 offset-l3 l6 btn btn-primary light-blue darken-3 waves-effect waves-light" href="/maintenance/register">SIGN UP</a>
      </div>
    </div>
  </div>
</div>
{{end}}